<!DOCTYPE html>
<html>
  <head>
  
    <title>Lanceur d'App sur le périphérique destination</title>

	<% include entete %>
	
</head>

<body >
  
	<script>

		var ipserv = '<%= ipserver %>';		
		var nomZC = '<%= zonecollab.idZC %>';
	
	</script>
	
		<div class="infoZP">
            <H2>Lanceur d'application sur le périphérique de destination </H2>
            <p>   
 		         Adresse IP du Serveur ITAC = <%= ipserver %> </br>
 		         Nom de votre zone collaborative ITAC ZoCo = <%= zonecollab.idZC %>  </br>
 		         Nombre d'espaces de travail de votre zone = <%= zonecollab.nbZP %>
            </p>
 
 		    <ul>
    		  <%  nb= parseInt(zonecollab.nbZP);
    		    console.log('PAGE : collab.ejs -> zonecollab ='+zonecollab);
    			for(var i=0; i<nb; i++) { 
    				minmax=zonecollab.ZP[i].nbZEmin+'-'+zonecollab.ZP[i].nbZEmax;
    				console.log('PAGE : collab.ejs -> minmax = '+ minmax);
    			%>
        	   <li>
        	    Type d'espace de travail : <%= zonecollab.ZP[i].typeZP %>  Lien URL : 
            	<a target='_blank' href='/collab/<%= zonecollab.idZC %>/espacetravail/<%= i %>/<%= zonecollab.ZP[i].idZP %>/<%= zonecollab.ZP[i].portWebSocket %>/<%= minmax %>'>
                /collab/<%= zonecollab.idZC %>/espacetravail/<%= zonecollab.ZP[i].idZP %>/<%= zonecollab.ZP[i].portWebSocket %>/<%= minmax %>
            	</a>
        	   </li>
    		      <% } %>
		     </ul>
 		</div>

    </body>
  
</html>