<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- PP : le code suivant integre toutes les bibliotheque necessaire au workspace -->
    <link rel="stylesheet"  href="/stylesheets/styleClientCollab.css">

    <% include entete %>
  	
    <script language="JavaScript" type="text/javascript" src="/socket.io-client/socket.io.js"></script>
    <script language="JavaScript" type="text/javascript" src="/libs/interact.js"></script> 
    <script language="JavaScript" type="text/javascript" src="/libs/html2canvas.js"></script>
    <script language="JavaScript" type="text/javascript" src="/libs/filesaver.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/libs/key-event.js"></script>
    
    <!-- tools générique utilisable sur toute les pages -->
    <script language="JavaScript" type="text/javascript" src="/javascripts/toolsITAC.js"></script>

    <script language="JavaScript" type="text/javascript" src="/javascripts/collab/menuCollabArea.js"></script>
	         
    <!-- PP : extrait les parametre passe  -->
    <script>
	    var urldemande = '<%= urldemande %>';
		var zpdemande = '<%= myZP %>';
		var rang= '<%= rangZP %>';
		
		var myZC = {};
		var ZEmax= '<%= NbZEMax %>';;
	</script>
		

	<!-- PP : le code suivant gere la connexion au serveur et les traitement des evenements echange avec le serveur -->
	<script language="JavaScript" type="text/javascript" src="/javascripts/collab/connexionCollabArea.js"></script>	
	
	<!-- TC: Script javascript qui se charge de la gestion des artefacts -->
    <script language="JavaScript" type="text/javascript" src="/javascripts/collab/artefactsCollabArea.js"></script>
    
	<!-- TC: Script javascript qui se charge de la gestion des zones d échanges -->
    <script language="JavaScript" type="text/javascript" src="/javascripts/collab/zoneEchangeCollabArea.js"></script>
 
  </head>  
  
  <body id="ZP">
 	 <div id="menu" class="menu hand"></div>
 	 	<!-- TC: Petite subtilité pour changer le fond: bouton invisible qui permet d'ouvrir une sélection de fichier lorsqu'on est sur le menu change-->
        <input id="file" style="display:none;" type="file" multiple/>   
  </body > 
</html>

 	
  
  