<!--

        Copyright © 2016-2018 AIP Primeca RAO
        Copyright © 2016-2018 Université Savoie Mont Blanc
        Copyright © 2017 David Wayntal

        This file is part of ITAC-Core.

        ITAC-Core is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html>
<head>
    <title>Lanceur d'App sur le périphérique destination</title>
</head>
<body>

<div class="infoZP">
    <h2>Lanceur d'application sur le périphérique de destination </h2>
    <p>
        Nom de la session = <%= sessionName %> </br>
        Adresse IP du Serveur ITAC = <%= ipserver %> </br>
        Nom de votre zone collaborative ITAC ZoCo = <%= zonecollab.idZC %> </br>
        Nombre d'espaces de travail de votre zone = <%= zonecollab.nbZP %>
    </p>
    <ul>
        <% nb = parseInt(zonecollab.nbZP);
        console.log('PAGE : collab.ejs -> zonecollab =' + zonecollab);
        for(var i = 0; i < nb; i++) {
            minmax = zonecollab.ZP[i].nbZEmin + '-' + zonecollab.ZP[i].nbZEmax;
            console.log('PAGE : collab.ejs -> minmax = ' + minmax);
        %>
        <li>
            Type d'espace de travail : <%= zonecollab.ZP[i].typeZP %> Lien URL :
            <!--<a target='_blank'-->
               <!--href='/collab/<%= zonecollab.idZC %>/espacetravail/<%= i %>/<%= zonecollab.ZP[i].idZP %>/<%= zonecollab.ZP[i].portWebSocket %>/<%= minmax %>'>-->
                <!--/collab/<%= zonecollab.idZC %>/espacetravail/<%= zonecollab.ZP[i].idZP %>-->
                <!--/<%= zonecollab.ZP[i].portWebSocket %>/<%= minmax %>-->
            <!--</a>-->
<!--
            <a target='_blank'
               href='/collab/session/<%= sessionName %>/<%= zonecollab.ZP[i].idZP %>'>
                /collabenmarche/<%= zonecollab.idZC %>/espacetravaildeburnos/<%= zonecollab.ZP[i].idZP %>
                /<%= zonecollab.ZP[i].portWebSocket %>/vivemacron/<%= minmax %>
            </a>
-->
            <a target='_blank'
               href='/collab/session/<%= sessionName %>/<%= zonecollab.ZP[i].idZP %>'>/<%= zonecollab.idZC %>/<%= zonecollab.ZP[i].idZP %>/<%= zonecollab.ZP[i].portWebSocket %>/<%= minmax %>
            </a>
        </li>
        <% } %>
    </ul>
    <p>Sauvegarde / fermeture : </p>
    <ul>
        <li>Sauvegarde de la session : <a href="/collab/session/<%= sessionName %>/save">/collab/session/<%= sessionName %>/save</a></li>
        <li>Fermeture de la session : <a href="/collab/session/<%= sessionName %>/close">/collab/session/<%= sessionName %>/close</a></li>
    </ul>
</div>
<script>
    var ipserv = '<%= ipserver %>';
    var nomZC = '<%= zonecollab.idZC %>';
</script>
</body>
</html>