<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/collab/css/style.css">
    <link rel="stylesheet" href="/collab/css/rule.css">
</head>
<body class="background">
<form action="" method="post" >
    <input type="submit" value="Lancement ITAC"/>
    <br/>
    <fieldset>
        <label for="idSession">Identifiant de votre Session : </label>
        <input type="text" id="idSession" name="idSession" placeholder="Entrez un identifiant"/>
        <br/>
    </fieldset>
    <fieldset>
        <label for="auth_factory">factory à utiliser pour l'authentification : <%= factories %></label>
        <select name="auth_factory" id="auth_factory">
            <% for (i in factories){ %>
            <option value="<%= factories[i] %>"><%= factories[i] %></option>
            <% } %>
        </select>
        <br/>
        <label for="auth_type">Methode à utiliser pour l'authentification : </label>
        <select name="auth_type" id="auth_type">
            <% for ( i in authenticators){ %>
            <option value="<%= authenticators[i] %>"><%= authenticators[i] %></option>
            <% } %>
        </select>
        <br/>
        <label for="auth_params">Paramètre à utiliser pour l'initialisation du mécanisme d'authentification : </label>
        <textarea name="auth_params" id="auth_params"></textarea>
        <br/>
    </fieldset>
    <fieldset>
        <label for="idZC">Identifiant de votre Zone Collaborative : </label>
        <input type="text" id="idZC" name="idZC" placeholder="Entrez un identifiant"/>
        <br/>
        <label for="email">Votre Email:</label>
        <input type="email" id="email" name="email" placeholder="Entrez votre adresse email"/>
        <br/>
        <label for="description">Description:</label>
        <textarea id="description" name="description"
                  placeholder="donner une breve description de votre activite collaborative"></textarea>
        <br/>
    </fieldset>
    <input type="button" value="Ajouter un espace de travail" onclick="ajouterElement();"/>
    <div id="conteneur">
        <div id="element1">
            <label for="input1">Espace de travail : </label>
            <input type="text" value="" id="input1" name="input1"/>
            <label for="type1">Type : </label>
            <select type="select" id="type1" name="type1">
                <option value="Table1">Table AIP</option>
                <option value="Table2">Table HUCO</option>
                <option value="Table3">Table Microsoft</option>
                <option value="Ecran1">Ecran</option>
            </select>
            <label for="visibilite1">Visibilite des ZE: </label>

            <input type="radio" value="true" name="visibilite1"  checked /> <label for="visibilite1">Oui </label>
            <input type="radio" value="false" name="visibilite1"/> <label for="visibilite1">Non </label>

            <label for="min1">Nb de connexion MIN : </label>
            <input type="number" value="" id="min1" name="min1"/>
            <label for="max1">Nb de connexion MAX : </label>
            <input type="number" value="" id="max1" name="max1"/>
            <label for="port1">Port : </label>
            <input type="number" value="" id="port1" name="port1"/>
            <input type="button" value="Supprimer" id="delete1"/>
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="/collab/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/collab/js/lib/interact.min.js"></script>
<script type="text/javascript" src="/collab/js/lib/html2canvas.js"></script>
<script type="text/javascript" src="/collab/js/lib/filesaver.min.js"></script>
<script type="text/javascript" src="/collab/js/lib/key-event.js"></script>
<script type="text/javascript" src="/collab/js/toolsConfigCollab.js"></script>
</body>
</html>
  