<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/collab/css/style.css">
</head>
<body id="ZP">
<ul class="menu">
    <li class="hand"></li>
    <li class="trash"></li>
    <li class="background"></li>
</ul>
<!-- TC: Petite subtilité pour changer le fond: bouton invisible qui permet d'ouvrir une sélection de fichier lorsqu'on est sur le menu change-->
<input id="file" style="display:none;" type="file" multiple/>
<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="/collab/js/lib/socket.io.js"></script>
<script type="text/javascript" src="/collab/js/lib/interact.min.js"></script>
<script type="text/javascript" src="/collab/js/lib/html2canvas.js"></script>
<script type="text/javascript" src="/collab/js/lib/filesaver.min.js"></script>
<script type="text/javascript" src="/collab/js/lib/key-event.js"></script>
<script type="text/javascript" src="/collab/js/lib/circle-menu.min.js"></script>
<script type="text/javascript" src="/collab/js/toolsITAC.js"></script>
<script type="text/javascript" src="/collab/js/menuCollabArea.js"></script>
<!-- PP : extrait les parametre passe  -->
<script>
    var urldemande = '<%= urldemande %>';
    var zpdemande = '<%= myZP %>';
    var rang = '<%= rangZP %>';
    var myZC = {};
    var ZEmax = '<%= NbZEMax %>';
</script>
<!-- PP : le code suivant gere la connexion au serveur et les traitement des evenements echange avec le serveur -->
<script type="text/javascript" src="/collab/js/connexionCollabArea.js"></script>
<!-- TC: Script javascript qui se charge de la gestion des artefacts -->
<script type="text/javascript" src="/collab/js/artefactsCollabArea.js"></script>
<!-- TC: Script javascript qui se charge de la gestion des zones d échanges -->
<script type="text/javascript" src="/collab/js/zoneEchangeCollabArea.js"></script>
<!-- PP: Script javascript qui se charge de la gestion des zones de partage -->
<script type="text/javascript" src="/collab/js/zonePartageCollabArea.js"></script>
</body>
</html>

 	
  
  